@charset "UTF-8";

    body{
        background-color: #79edade9;
        font-family: Arial, Helvetica, sans-serif;
    }
    @font-face{
        font-family: 'fonteImportada'; src: url('conteudo/fontes/idroid.otf') format('opentype');
    }

    header{
        background-image: linear-gradient(to top, #004021,#008042, #00BF63, #00E677, #00FF85);
        color: white;
        margin: -20px -8px 0px -8px;
        padding: 0px 0px 50px 0px;
        font-family:  Arial, Helvetica, sans-serif;
    }
    h1{
        text-align: center;
        padding: 25px 0px 8px 0px;
    }
    header > p{
        text-align: center;
    }
    nav{
        margin: 36px 0px -45px 0px;
    }
    a{
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        text-decoration: none;
        margin: 10px 10px 10px 10px;
        margin: 0.7%;
    }
    .linksMain{
        color: #004021;
        background-color: #00ff8483;
    }
    .linksMain::after{
        content: '➢';
    }

    span{
        color: blue;
    }

    main{
        background-color: rgb(255, 255, 255);
        margin: -19px 12%;
    }
    h2{
        padding: 20px 0px 0px 20px;
        font-family: fonteImportada;
        color: #057446;
    }
    h3{
        font-family: fonteImportada;
        color: #057446;
        background-image: linear-gradient(to right, #a4d7a4c7, #ffffffc7);
        text-indent: -13px;
        margin: 0px 0px 0px 10px;
        padding: 0px 0px 0px 20px;
    }

    p{    
        text-indent: 5%;
        margin: 15px 10px 15px 10px;
    }
    p#h2{
        text-indent: 5%;
        margin: -5px 10px 15px 10px;
    }

    h4{
        font-family: Arial, Helvetica, sans-serif;
        color: #ffffff;
        background-color: rgb(41, 202, 135);
    }
    div{
        background-color: #82e8b0a1;
        margin: 10px 25px 10px 25px;
        border-radius: 10px;
    }

    footer{
        background-color: #2F614C;
        margin: 35px -8px -15px -8px;
        padding: 1px 0px;
        
    }
    footer > p{
        text-align: center;
    }
    img{
        display: block;
        margin: auto;
    }
